* {
    box-sizing: border-box;
}

body {
    width: 500px;
    margin: 20px auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="number"],
select,
textarea {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

.form-row {
    margin: 10px 0 20px 0;
}

input[type="submit"] {
    background-color: lightgreen;
}