body {
	width: 960px;
	margin: 20px auto;
}

header {
  border: 2px solid #000;
  padding:10px;
	margin-bottom: 10px;
	background-color: #D1413B;
}

article {
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
	background-color: #8BB845;
}

section {
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
	background-color: #F9BF32;

}

footer {
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
	background-color: #85438E;
}

time {
	background-color: #B0B0B0;
	border: 1px solid #000;

}

address {
	background-color: #40B4FA;
	border: 1px solid #000;
}

section.colorScheme {
	background-color: #fff;
	border: none;
}

section.colorScheme article { 
	background-color: #fff; 
	border: none; 
	float:left;
}

section.colorScheme span { float: left; padding-left:5px;}

div.box{
	width:30px;
	height:30px;
	border: 1px solid #000;
	float:left;
}
.headerColor{ background-color:#D1413B; }
.articleColor{ background-color:#8BB845; }
.sectionColor{ background-color:#F9BF32; }
.footerColor{ background-color:#85438E; }
.addressColor{ background-color:#40B4FA; }
.timeColor{ background-color:#B0B0B0; }


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}