body {
	width: 960px;
	margin: 20px auto;
	font-family: sans-serif;
}

main {
	float:left;
	width:640px;
	border: 2px solid #000;
	padding: 5px;
	margin-bottom: 10px;
}

header {
	border: 2px solid #000;
	padding:10px;
	margin-bottom: 10px;
}

nav {
	border: 2px solid #000;
	padding:10px;
	margin-bottom: 10px;
}

article {
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
}

section {
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
}

aside {
	float:right;
	padding:10px;
	width:255px;
	min-height: 590px;
	border: 2px solid #000;
}

footer {
	min-height: 320px;
	padding:10px;
	border: 2px solid #000;
	margin-bottom: 10px;
}

footer section {
	float:right;
	width: 450px;
	border: 2px solid #000;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
