#container {
    
    width: 960px;
    margin: 20px auto;
    border: none;;
}

div {
    min-height: 100px;
    margin-bottom: 20px
}


#header {
    background-color: lightblue;
}

.wrapper {
    display:flex;
}

.box {
    width: calc(100%/3);
    margin: 0 10px;
    background-color: lightgray;
    border: 1px solid black;
}

.box:first-child {
    margin-left: 0;
}

.box:nth-child(3) {
    margin-right: 0;
}


#main {
    background-color: lightgreen;
    width: 760px;
    height: 300px;
    margin-left: 20px
}

#sidebar {
    background-color: lightcoral;
    width: 200px;
    height: 300px;
}

#footer {
    background-color: orange;
}